<% object.each do |guide| %>
  <div class="row">
    <div class="col-md-2">
      <section class="expert_info center">
        <%= avatar_for(guide.expert, size: 100) %>
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= link_to guide.title, guide_path(guide) %></h4>
      <p><%= truncate(guide.instructions, length: 150) %></p>
      <% if guide.topics.any? %>
        <p>Topics: <%= render guide.topics %></p>
      <% end %>
      <p>
        <span class="quiet"><small>Created <%= time_ago_in_words(guide.created_at) %> ago by <%= guide.expert.expertname %></small></span>
      </p>
      <% if logged_in? && (current_user == guide.expert || current_user.admin?) %>
      <div class="guide-actions">
        <%= link_to "Edit this guide", edit_guide_path(guide), class: "btn btn-xs btn-warning" %>
        <%= link_to "Delete this guide", guide_path(guide), method: :delete,
                                         data: { confirm: "Are you sure you want to delete this guide?" },
                                         class: "btn btn-xs btn-danger" %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
