<%= render 'shared/page_title', title: @guide.title %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <h4 class="center instructions"><strong>Instructions: </strong></h4>
    <hr/>

    <%= simple_format(@guide.instructions) %>

    <hr/>
    <div class="pull-right">
      <p class="center">
        <em>Created by:</em>
      </p>
      <p class="center">
        <%= link_to avatar_for(@guide.expert), guides_path %>
      </p>
      <p class="center">
        <small><%= @guide.expert.expertname %></small>
        <div class="pull-right"><%= time_ago_in_words(@guide.created_at) %> ago</div>
      </p>
    </div>
    <div class="guide-actions">
      <% if logged_in? && (current_user == @guide.expert || current_user.admin?) %>
        <%= link_to "Edit this guide", edit_guide_path(@guide), class: "btn btn-xs btn-warning" %>
        <%= link_to "Delete this guide", guide_path(@guide), method: :delete,
                                         data: { confirm: "Are you sure you want to delete this guide?" },
                                         class: "btn btn-xs btn-danger" %>
      <% end %>
      <%= link_to "Go back to guides list", guides_path, class: "btn btn-xs btn-primary" %>
    </div>
  </div>
</div>
