<%= render 'shared/page_title', title: @guide.title %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <h4 class="center instructions"><strong>Instructions: </strong></h4>
    <hr/>

    <%= simple_format(@guide.instructions) %>

    <hr/>

    <% if @guide.topics.any? %>
      <p>
        Topics: <%= render @guide.topics %>
      </p>
    <% end %>

    <div class="pull-right">
      <p class="center">
        <em>Created by:</em>
      </p>
      <p class="center">
        <%= link_to avatar_for(@guide.expert), expert_path(@guide.expert) %>
      </p>
      <p class="center">
        <small><%= @guide.expert.expertname %></small>
        <div class="pull-right"><%= time_ago_in_words(@guide.created_at) %> ago</div>
      </p>
    </div>
    <div class="guide-actions">
      <% if logged_in? && (current_user == @guide.expert || current_user.admin?) %>
        <%= link_to "Edit this guide", edit_guide_path(@guide), class: "btn btn-xs btn-warning" %>
        <%= link_to "Delete this guide", guide_path(@guide), method: :delete,
                                         data: { confirm: "Are you sure you want to delete this guide?" },
                                         class: "btn btn-xs btn-danger" %>
      <% end %>
      <%= link_to "Go back to guides list", guides_path, class: "btn btn-xs btn-primary" %>
    </div>
  </div>
</div>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Comments:</h3>
      <hr />
      <!-- To submit the form via AJAX we use the: "remote: true" -->
      <%= form_for([@guide, @comment], remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :description, "Comment" %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :description, rows:8, class: "form-control", placeholder: "Enter Comment"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit "Submit Comment", class: "btn btn-success btn-lg btn-xlarge" %>
          </div>
        </div>
      <% end %>
      <hr />
    </div>
  </div>
<% end %>

<% if @guide.comments.count != 0 %> <!-- ".count" can be omitted -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Comments:</h3>
      <div id="messages">
        <!-- "render partial:" is followed by the "object:" keyword, which expects a collection.
              The @comments instance var is passed in the comments partial as object,
              so we can refer to this as "comments" in the partial, instead of "@comments" -->
        <%= render partial: 'comments/comments', object: @comments %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>No comments yet!</h3>
    </div>
  </div>
<% end %>
