<%= render 'shared/page_title', title: "Showing all experts" %>

<div align="center">
  <%= will_paginate %>
  <% @experts.each do |expert| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-4 col-md-offset-4">
          <li><%= link_to avatar_for(expert), expert_path(expert) %></li>
          <li class="expert-title"><%= link_to expert.expertname, expert_path(expert) %></li>
          <li><small><%= pluralize(expert.guides.count, "guide") if expert.guides %></small></li>
          <% if logged_in? && current_user.admin? && !expert.admin? %>
            <li><%= link_to "Delete expert", expert_path(expert), method: :delete,
                data: { confirm: "Are you sure you want to delete the expert and all associated guides?" } %></li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>
